#taskbar {
    width: 16rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

#channels {
    background: rgba(32, 32, 32, 1);
}

#userbar {

}

#userbar button {
    width: 100%;
}
