.taskbar {
    min-width: 192px;
    max-width: 192px;
    display: flex;
    flex-direction: column;
    background: var(--secondary);
}

.channel {
    border: none;
    border-radius: 4px;
    margin: 1px;
    background: transparent;
    white-space: nowrap;
}
