#chat {
    width: 95rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

#sendMessage {
    width: 100%;
}

#sendMessageInput {
    border-radius: 16px;
    border: none;
    padding: 16px;
    width: inherit;
}
