.bottom {
    display: flex;
    flex-direction: row;
    flex: 18;
    box-shadow: var(--accent) 2px 2px 4px 2px;
}

.sendMessage {
    height: fit-content;
    margin: 1rem;
}

.sendMessageInput {
    border-radius: 8px;
    border: none;
    padding: 16px;
    width: 100%;
    margin-bottom: 0;
    background: var(--secondary);
}

.chatArea {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 3;
    background: var(--tertiary);
}

.messages {
    overflow-y: auto;
}

.memberArea {
    display: flex;
    flex-direction: column;
    margin-right: 0;
    width: 12rem;
    background: var(--secondary);
}
