.servers {
    background: rgba(8, 8, 8, 1);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.server {
    margin: 0.4rem;
    transition: ease-out 0.2s;
    border-radius: 32px;
    background: rgba(32, 32, 32, 1);
    height: 4rem;
    width: 4rem;
    color: white;
    text-transform: none;
    border: none;
}

.server img {
    border-radius: 32px;
    width: 4rem;
}

.server:hover {
    transition: ease-in-out 0.2s;
    border-radius: 20px;
    background: rgba(64, 64, 64, 1);
}

.server:hover img {
    transition: ease-in-out 0.2s;
    border-radius: 20px;
}
